@model ProviderLocationViewModel

<div class="tl-results--block">

    <h4>@Model.ProviderName </h4>
    <p style="white-space: pre-line">@Model.AddressLabel <a target="_blank" href="@Model.JourneyUrl" class="tl-link-black--orange tl-margin-left--20 tl-results--transport">How do I get there?</a></p>

    <span class="tl-results--block--distance">@Model.DistanceInMiles @Model.DistanceString</span>
    <hr class="tl-line-lightgrey--small">

    @if (Model.DeliveryYears.Any())
    {
        foreach (var deliveryYear in Model.DeliveryYears.Where(dy => dy.Qualifications != null && dy.Qualifications.Any()))
        {
            @if (deliveryYear.Year <= DateTime.Now.Year)
            {
                <h5><strong>Available now:</strong></h5>
            }
            else
            {
                <h5><strong>From September @deliveryYear.Year onwards:</strong></h5>
            }
            <ul>
                @foreach (var q in deliveryYear.Qualifications)
                {
                    <li>@q.Name</li>
                }
            </ul>
        }
    }

    @if (!string.IsNullOrWhiteSpace(Model.RedirectUrl))
    {
        @if (Model.HasFocus)
        {
            <a href="@Model.RedirectUrl" class="tl-link-black--orange tl-results--block--link" aria-label="@Model.RedirectUrlLabel" autofocus="autofocus">Visit their website</a>
        }
        else
        {
            <a href="@Model.RedirectUrl" class="tl-link-black--orange tl-results--block--link" aria-label="@Model.RedirectUrlLabel">Visit their website</a>
        }
    }

</div>
