@model ProviderLocationViewModel

<div class="tl-results--block">

    <h4>@Model.VenueName </h4><p style="white-space: pre-line">@Model.AddressLabel </p>

    <span class="tl-results--block--distance">@Model.DistanceInMiles @Model.DistanceString</span>
    <hr class="tl-line-lightgrey--small">

    @if (Model.DeliveryYears.Any())
    {
        foreach (var deliveryYear in Model.DeliveryYears)
        {
            <h5><strong>From September @deliveryYear.Year onwards:</strong></h5>
            <ul>
                @foreach (var q in deliveryYear.Qualifications)
                {
                    <li>@q.Name</li>
                }
            </ul>
        }
    }
    
    @if (!string.IsNullOrWhiteSpace(Model.RedirectUrl))
    {
        @if (Model.HasFocus)
        {
            <a href="@Model.RedirectUrl" class="tl-link-black--orange tl-results--block--link" aria-label="@Model.RedirectUrlLabel" autofocus="autofocus">Visit their website</a>
        }
        else
        {
            <a href="@Model.RedirectUrl" class="tl-link-black--orange tl-results--block--link" aria-label="@Model.RedirectUrlLabel">Visit their website</a>
        }
    }

</div>
