@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = ViewData["SubjectTitle"];
}

<section id="tl-subject--header" class="tl-content-wide--black">
    <div class="tl-container">
        <div class="row no-gutters">
            <div class="col-md-6 order-2 order-md-1 ">
                <div class="tl-content--box--transparent">
                <div class="row">
                    <div class="col-12 tl-margin-top--60 tl-margin-bottom--50">
                        
                            <a class="tl-link-white--orange" href="/students/subjects">< Back to all subjects</a>
                        </div>
                        <div class="col-12 tl-margin-bottom--10">
                            <h1>@ViewData["SubjectTitle"]</h1>
                        </div>
                        <div class="col-12 tl-margin-bottom--20">
                            <p class="tl-lead">@ViewData["SubjectDescription"]</p>
                            <p> <a href="@ViewData["SubjectTranscriptID"]" class="tl-link-white--orange tl-margin-top--10 tl-display--inline-block tl-casestudy--transcriptlink">Video transcript</a></p>
                        </div>
                    </div>
                </div>

            </div>
            <div class="col-md-6 tl-subjects--video order-1">
                <div class="tl-video--square tl-js--visible">
                    <iframe title="T Levels ambassador video 2" width="560" height="315" src="https://www.youtube-nocookie.com/embed/@ViewData["SubjectVideoID"]?rel=0&modestbranding=1" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
                <div class="tl-js--hidden tl-margin-bottom--20 tl-margin-top--20">
                    <p><a class="tl-link-black--orange" href="https://www.youtube.com/watch?v=@ViewData["SubjectVideoID"]">Watch video - @ViewData["SubjectTitle"]</a></p>
                </div>

            </div>
        </div>
    </div>
</section>

@RenderBody()

@model FindViewModel
<section id="tl-search--alt">
    <div class="tl-container">
        <div class="row">
            <div class="col-12">
                <h3 class="tl-heading--small">Find this T Level near you</h3>
                <form asp-action="Find" method="post" class="tl-search--form">
                    <span class="tl-validation--message">You must enter a postcode or town</span>
                    <label asp-for="SearchTerm" class="tl-hidden">Postcode or town</label>
                    <input asp-for="SearchTerm" class="tl-search--form--postcode" placeholder="Enter postcode or town" aria-label="Enter a postcode or town to find a T Level near you" />
                    <input type="hidden" asp-for="Qualification" value="@ViewData["SubjectTitle"]" />
                    <input type="hidden" asp-for="SelectedQualificationId" value="@ViewData["SelectedQualificationId"]" />
                    <input type="hidden" asp-for="ShouldSearch" value="true" />
                    <button id="tl-find-button" type="submit" class="tl-button--search--black" aria-label="Search for a T Level">Search</button>
                </form>
            </div>
        </div>
    </div>
</section>
