@{
    Layout = "~/Views/Shared/_LayoutEmployer.cshtml";
}

@{
    ViewData["Title"] = "Next steps";
    ViewData["PageID"] = "tl-employer-nextsteps";
}
@using sfa.Tl.Marketing.Communication.Application.Enums
@model EmployerContactViewModel

<section id="tl-employer-nextsteps--banner" class="tl-content-wide--purple">
    <div class="tl-container tl-overflow--fix">
        <div class="row no-gutters">
            <div class="col-lg-8">
                <div class="tl-content--box tl-content--box--left">
                    <h1>Next steps</h1>
                    <p class="tl-lead">
                        We can help:
                    </p>
                    <ul class="tl-list--bullet">
                        <li>
                            answer any questions you have about industry placements, including how to find local colleges and schools with suitable students
                        </li>
                        <li>plan and prepare to offer placements</li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-4 d-none d-lg-flex tl-image--wide--right">
                <img src="/files/images/TLevels_WebsiteAssets39.jpg" alt="" />
            </div>

        </div>
    </div>
</section>

<section class="tl-content-normal--white tl-content-padded">
    <div class="tl-container">
        <div class="row no-gutters">
            @if (!Model.ContactFormSent)
            {
            <div class="col-lg-7">
                <div id="tl-form--form">
                    <h2>Do you want to discuss an industry placement?</h2>

                    <p>Send us a completed form and someone will contact you within 2 working days to discuss industry placements.</p>

                    <form id="tl-employer-contact-form" class="tl-form" asp-action="EmployerNextSteps" method="post" novalidate>
                        <input type="hidden" asp-for="ContactFormSent" value="@Model.ContactFormSent" />

                        <div class="tl-form-group" sfa-validation-for="FullName" sfa-validationerror-class="tl-form-group--error">
                            <label class="tl-form--label" asp-for="FullName">
                                Your full name
                            </label>
                            <span class="tl-form-group--error--message" asp-validation-for="FullName"></span>
                            <input asp-for="FullName" class="tl-form--input" sfa-validation-for="FullName" aria-label="Enter your full name" />
                        </div>

                        <div class="tl-form-group" sfa-validation-for="OrganisationName" sfa-validationerror-class="tl-form-group--error">
                            <label class="tl-form--label" asp-for="OrganisationName">
                                Name of organisation
                            </label>
                            <span class="tl-form-group--error--message" asp-validation-for="OrganisationName"></span>
                            <input asp-for="OrganisationName" class="tl-form--input" sfa-validation-for="OrganisationName" sfa-validationerror-class="tl-input--error" aria-label="Enter the name of your company" />
                        </div>

                        <div class="tl-form-group" sfa-validation-for="Phone" sfa-validationerror-class="tl-form-group--error">
                            <label class="tl-form--label" asp-for="Phone">
                                Telephone number
                            </label>
                            <span class="tl-form-group--error--message" asp-validation-for="Phone"></span>
                            <input asp-for="Phone" class="tl-form--input" type="tel" sfa-validation-for="Phone" sfa-validationerror-class="tl-input--error" aria-label="Enter your phone number" />
                        </div>

                        <div class="tl-form-group" sfa-validation-for="Email" sfa-validationerror-class="tl-form-group--error">
                            <label class="tl-form--label" asp-for="Email">
                                Email address
                            </label>
                            <span class="tl-form-group--error--message" asp-validation-for="Email"></span>
                            <input asp-for="Email" class="tl-form--input" sfa-validation-for="Email" sfa-validationerror-class="tl-input--error" aria-label="Enter your email address" />
                        </div>

                        <div class="tl-form-group tl-margin-bottom--20" sfa-validation-for="ContactMethod" sfa-validationerror-class="tl-form-group--error">
                            <fieldset>
                                <legend>
                                    <span class="tl-form--label">
                                        How would you like to be contacted?
                                    </span>
                                </legend>
                                <span id="tl-placements-known-error" class="tl-form-group--error--message" asp-validation-for="ContactMethod"></span>
                                <div class="tl-form--radios">
                                    <div class="tl-form--radio">
                                        <input class="tl-form--input" id="contact-method-telephone" asp-for="ContactMethod" type="radio" value="@ContactMethod.Phone" checked="@(Model?.ContactMethod == ContactMethod.Phone)">
                                        <label class="tl-form--label--radio" for="contact-method-telephone">
                                            Telephone
                                        </label>
                                    </div>
                                    <div class="tl-form--radio">
                                        <input class="tl-form--input" id="contact-method-email" asp-for="ContactMethod" type="radio" value="@ContactMethod.Email" checked="@(Model?.ContactMethod == ContactMethod.Email)">
                                        <label class="tl-form--label--radio" for="contact-method-email">
                                            Email
                                        </label>
                                    </div>
                                </div>
                            </fieldset>
                        </div>

                        <button class="tl-button--purple" type="submit" id="tl-send-employer-contact">Send form</button>
                    </form>
                </div>
            </div>
            <div class="col-lg-4 offset-lg-1 ">
                <div class="tl-box--grey tl-margin-top--40 tl-margin-top--0--medium">
                    <h4>Alternatively, call the industry placement hotline</h4>
                    <p class="tl-margin-top--10">
                        Call:
                        <span class="tl-bigtext--smaller--purple tl-display--block tl-margin-top--10 tl-padding-bottom--10">
                            0800 900 8349
                        </span>
                        (choose option 4)
                    </p>
                </div>
            </div>

            }
            else
            {
                <div class="col-lg-9">
                    <div id="tl-form--sent">
                        <h2>
                            Thank you for telling us that you want to talk to someone about industry placements
                        </h2>
                        <p>Someone will contact you within 2 working days of submitting the form.</p>
                        <p>If it’s already been more than 2 working days and you still haven’t heard from anyone, please call us on 0800 900 8349 (choose option 4).</p>
                    </div>
                </div>
            }
        </div>
    </div>
</section>

<section id="tl-employer-nextsteps--register" class="tl-content-normal--grey tl-content-padded tl-hidden--tablet--down">
    <div class="tl-container">
        <div class="row no-gutters">
            <div class="col-md-8">
                <h2>Need more information?</h2>
                <p>
                    The Department of Education has funded an online resource to help you understand T Levels and take on an industry placement student.
                </p>
                <p>
                    You can access:
                </p>
                <ul class="tl-list--bullet">
                    <li>toolkits and guidance</li>
                    <li>webinars and workshops</li>
                    <li>direct support from specialists</li>
                </ul>

                <a href="https://employerindustryplacements.co.uk/" class="tl-button--black tl-margin-top--30" id="tl-employer-cta-support">Get support for T Levels and industry placements</a>
            </div>
        </div>
    </div>
</section>


@section jsfiles{
    @*<script>
        checkNextStepsCookie();
    </script>*@
}

